body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 80%;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #013f5c;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

table th, table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #013f5c;
}

table th {
  background-color: #81e9d8;
  border-bottom: 2px solid #013f5c;
}

table tr:hover {
  background-color: #8fee8f;
}
/* table .table #table {} */

.show-button {
  background-color: #3aafa9;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-button:hover {
  background-color: #237d7a;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  width: 800px;
  border: 3px solid #237d7a;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

.modal-content button:hover,
.modal-close:hover {
  opacity: 0.8;
}

.modal-content label {
  display: flex;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.modal-content button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  width: 350px
}

.modal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}